<%= form_with scope: :user_profile, url: update_user_profile_path(@user_profile.id), method: :put, local: true do |f| %>

<p>
  <% if @user_profile.errors.any? %>
    <ul>
      <% @user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <%= f.label :fullname %><br/>
  <%= f.text_field :fullname %>
</p>

<p>
  <%= f.label :username %><br/>
  <%= f.text_field :username %>
</p>

<p>
  <%= f.label :password %><br/>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :email %><br/>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>